<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>POSTE</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/stylebtn.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="icon" type="image/png" th:href="@{/images/icons/login.ico}"/>
<link rel="stylesheet" th:href="@{/fontawesome/css/all.css}" >
<link rel="stylesheet" th:href="@{/css/dialog.css}">
<link rel="stylesheet" th:href="@{/css/dialog-simple.css}">	
<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">	
</head>
<body>
<div class="limiter-log " > 

			<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target="#myNavbar">
									<span class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/admin">Poste TN</a>
							</div>
							<div class="collapse navbar-collapse" id="myNavbar">
								<ul class="nav navbar-nav">
										<li ><a href="/listArchive"><i class="fa fa-archive"></i> Archive</a></li> 
								
									<li class="dropdown ">
									      <a class="dropdown-toggle " data-toggle="dropdown" role="button"><i class="glyphicon glyphicon-user"></i> Employé<span class="caret"></span></a>
									      <ul class="dropdown-menu ">

									      	<li><a href="/listEmp">Gérer</a></li>
									      
									      	<li><a href="/soldeServis">Consulter le solde</a></li> 
									       <li><a href="/Emplois">Emplois du temps</a></li> 
				     						</ul>
   									</li>
				         		   	 
				          			 <li class="active"><a href="/adminPresence"><i class="fas fa-user-clock"></i> Présence</a></li>
				          			 <li  ><a href="/statistique/stat"><i class="fa fa-pie-chart"></i> Statistique</a></li>
				          			
									<li class="dropdown ">
									      <a class="dropdown-toggle " data-toggle="dropdown" role="button"><i class="glyphicon glyphicon-wrench"></i> Paramétre<span class="caret"></span></a>
									      <ul class="dropdown-menu ">

									      	<li><a href="/parametre/employe">Employé</a></li>
									      	<li><a href="/parametre/travail">Travail</a></li> 
									       
				     						</ul>
   									</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
									      <a class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fas fa-user-circle p-r-5" > </i><span th:text="${#strings.toUpperCase(userConnect.nom)}+' '+${#strings.toUpperCase(userConnect.prenom)} "></span><span class="caret"></span></a>
									      <ul class="dropdown-menu">
											<li><a th:href="@{/editEmploye/{id}(id=${userConnect.id})}">Compte</a></li>
									       <li><a href="/logout">Déconnexion <span class="glyphicon glyphicon-log-in" ></span></a></li>
									       
				     						</ul>
   									</li>
								</ul>
							</div>
						</div>
					</nav>

	<div class="container col-1">
		<div class="wrap-login1000 p-l-80 p-r-80 p-t-55 p-b-55 ">
				<table>
					<tr>
						<td >
							<p class="txt1  p-b-20">Date :</p>
						</td>
						<td >
							<p class="txt1  p-b-20" th:text="${date}"></p>
						
						
					</tr>
				</table><br><br>
					<h1 align="center">Présence</h1><br>
		
			<table class="searchTab">
				<tr>
					<td>
					<p class="my-5">
							<div class="input-group col-md-5 mb-5">
	    						<span class="input-group-addon btn"><button class="fa fa-search" type="submit"></button></span>
	   				 			<table>
   												<tr><td>
   													 <input id="Search"  type="text" class="form-control sear" name="search" placeholder="Recherche"> 
   												</td>
   												<td>
   													<a th:if="${chercher}"  href="/adminPresence" class=" p-t-4 p-l-10 text-dark fas fa-arrow-circle-left fa-2x"></a>
   												</td>
   												</tr>
   								</table>
	  						</div>
			
					</td>
					
					
				</tr>
			</table><br>
			<table class="table table-hover w-autoo" >
				<thead>
					<tr>
						<th >Employé</th>
						<th>CIN</th>
						<th>Email</th>
						<th>TEL</th>
						
						<th>Etat</th>
						<th>Supprimer</th>
		
					</tr>
				</thead>
				<tbody>
					
					<tr th:each="pres : ${presence}">
						<td ><span data-th-if="${pres}" th:text="${pres.nom}+' '+${pres.prenom}"></span></td>
						<td data-th-if="${pres}"  th:text="${pres.cin}"></td>
						<td data-th-if="${pres}" th:text="${pres.email}"></td>
						<td data-th-if="${pres}" th:text="${pres.cin}"></td>
					
						<td data-th-if="${pres}" ><i class="fa fa-circle text-danger" ></i></td>
						
						<td data-th-if="${pres}"><a  class="btn "><i class="fas fa-trash"></i></a></td>
					</tr>
					
				</tbody>
			</table>
						<p class="my-5" align="left">
							<a href="/adminPresence" class="btn "><i class="glyphicon glyphicon-eye-open"> Présence courante</i></a>
						</p>			
							
		</div>
	</div>
</div>

<footer class="footer ">
       		<div class="text-center"><p style="color:rgb(180,180,180);"> <i class="fa fa-copyright "></i>  2020 Copyright | <a href="https://www.facebook.com/mouhebmhh"><b>Mouheb</b></a></p></div>
    </footer>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>