<html>
	<head>
		<title>Poste TN</title>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
			<link rel="icon" type="image/png" th:href="@{images/icons/login.ico}"/>
			<link rel="stylesheet" th:href="@{/fontawesome/css/all.css}" >
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	</head>
	
	<body>
	<div class="page-wrap d-flex flex-row align-items-center" style="margin-top:200px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block " >404 bachet</span>
                <div class="mb-4 lead" style="color:#901065;">La page que vous cherchez n'est pas disponible.</div>
                <a href="/" class="btn btn-link" style="color:#901065;"><i class="fa fa-arrow-circle-left"></i>Retour</a>
            </div>
        </div>
    </div>
</div>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</body>

</html>


